[submodule "opencv-android-sdk"]
	path = opencv-android-sdk
	url = https://github.com/cdbbnnyCode/opencv-android-sdk
[submodule "OpenCV-android-sdk"]
	path = OpenCV-android-sdk
	url = https://github.com/cdbbnnyCode/opencv-android-sdk
